/* Color Theme Swatches in Hex */
.Pokéballoon-1-hex { color: #FFFFFF ; }
.Pokéballoon-2-hex { color: #E1FDC1; }
.Pokéballoon-3-hex { color: #6FE6C5; }
.Pokéballoon-4-hex { color: #F19563; }
.Pokéballoon-5-hex { color: #F15356; }


@font-face {
    font-family: Exo;
    src: url(./assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf);
}

@font-face {
    font-family: Metrophobic;    
    src: url(./assets/fonts/Metrophobic/Metrophobic-Regular.ttf);
}

@font-face {
    font-family: Shanti;
    src: url(./assets/fonts/Shanti/Shanti-Regular.ttf);
}

:root {
    --form-control-color: #F15356;
  }

body{    
    background: linear-gradient(90deg, hsla(21, 84%, 67%, 1) 0%, hsla(359, 85%, 64%, 1) 100%);
    background-attachment: fixed;
}

h1{
    font-family: Exo;
    border-bottom: 3px  solid black;
    border-left: 3px  solid black;    
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
    color: #F15356 ;        
    background-color: #FFFFFF;
    z-index: 1;
}

h2{
    font-family: Metrophobic;
}

label{
    font-family: Shanti;
}

#select-animal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#selectionBox{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border: 3px outset  #F15356 ;
    border-radius: 25px 25px 25px 25px;
    background-color: #FFFFFF;    
    width: 50%;
    height: 500px;    
    line-height: 450%;     
    transition: all 300ms;       
}

#contentSelectionBox{
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top: -50px;
}

#contentSelectionBox label{
    font-size: larger;      
    font-style: bolder;
}

#selectionBox:hover{
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);    
    font-size: large;
}

#selectionBox:hover button{
    background-color: #F15356;        
    color: white;
}

input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }  

  input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;

    border-color: #F15356;
  }  
  
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;    
  }

  input[type="radio"]:checked {
    border-color: #F15356;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
    border-color: #F15356;
  }
  
  input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);    
  }

#btnSelectAnimal{
    margin-top: 20px;
    background-color: #FFFFFF;
    font-size: larger;
    color: #F15356;
    border: none;
    border-radius: 25px 25px 25px 25px;
    height: 50px;
    width: 120px;    
    cursor: pointer;    
}