/* Color Theme Swatches in Hex */
.Pokéballoon-1-hex { color: #FFFFFF ; }
.Pokéballoon-2-hex { color: #E1FDC1; }
.Pokéballoon-3-hex { color: #6FE6C5; }
.Pokéballoon-4-hex { color: #F19563; }
.Pokéballoon-5-hex { color: #F15356; }


@font-face {
    font-family: Exo;
    src: url(./assets/fonts/Exo_2/Exo2-VariableFont_wght.ttf);
}

@font-face {
    font-family: Metrophobic;    
    src: url(./assets/fonts/Metrophobic/Metrophobic-Regular.ttf);
}

@font-face {
    font-family: Shanti;
    src: url(./assets/fonts/Shanti/Shanti-Regular.ttf);
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0px;
    border: 0px;
}

body{        
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    background-attachment: fixed;
}

#select-animal h1{
    font-family: Exo;
    border-bottom: 3px  solid black;
    border-left: 3px  solid black;    
    border-radius: 25px 25px 25px 25px;
    padding: 10px;
    color: #F15356 ;        
    background-color: #FFFFFF;
    z-index: 1;
    margin-top: 10px;
    margin-bottom: 15px;
}

h2{
    font-family: Metrophobic;
}

label{
    font-family: Shanti;
}

#select-animal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#selectionBox{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    border: 3px outset  #F15356 ;
    border-radius: 25px 25px 25px 25px;
    background-color: #FFFFFF;    
    width: 65%;
    height: 500px;    
    line-height: 250%;     
    transition: all 300ms;       
}

#contentSelectionBox{
    display: flex;
    gap:10px;
    flex-direction:row;
    align-items: center;    
    margin-top: -50px;    
    margin: 20px;
}

.card{
    background-color: #E1FDC1;
    text-align: center;
    width: 100%;
    height: 100%;    
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    transition: all 300ms;
}

.card:hover{
    border: 1px solid #9599E2;
}

.card img{
    width: 100%;
}

#contentSelectionBox label{
    font-size: larger;      
    font-style: bolder;
}

#selectionBox:hover{
    background-color: #FFFFFF;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);    
    font-size: large;
}

#selectionBox:hover button{
    background-color: #F15356;        
    color: white;    
}

#btnSelectAnimal{
    margin-top: 20px;
    background-color: #FFFFFF;
    font-size: larger;
    color: #F15356;
    border: none;
    border-radius: 25px 25px 25px 25px;
    height: 50px;
    width: 120px;    
    cursor: pointer;    
}

#combatStats{    
    display: flex;
    justify-content: center;
    
}

#selectAttack{    
    display: flex;
    flex-direction: column;
    justify-content: center;     
    align-items: center;
    border: 3px outset  #F15356 ;
    border-radius: 25px 25px 25px 25px;
    background-color: #FFFFFF;    
    width: 90%;
    height: 100%;    
    line-height: 300%;   
    margin-bottom: 20px;  
    font-family: Metrophobic;    
}

#attackButtons button{
    cursor: pointer;
    font-size: large;        
    margin: 20px;
    height: 50px;
    width:  120px;
    border-radius: 25px 25px 25px 25px;
    transition: all 300ms; 
}

#attackButtons button:hover {
    background-color: #F15356;        
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);    
    letter-spacing: 1px;
}

#restart button{
    font-size: large;        
    margin: 20px;
    height: 50px;
    width:  200px;
    border-radius: 25px 25px 25px 25px;
    transition: all 300ms; 
}

#restart button:hover {
    background-color: #9599E2;        
    color: white;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);    
    letter-spacing: 2px;
}

#combatCards{        
    width: 60%;
    display: flex;
    justify-content: center;
}

.cardCombat{    
    width: 50%;
    margin: 15px;            
}

.cardCombat #statsHeader{
    border-radius: 25px 25px 0px 0px;
    display: inline-flex;
    justify-content: center;
    width: 100%;    
    border: 3px solid black;
}

.cardCombat #statsHeader .name{
    font-family: Metrophobic;
    width: 75%;
    text-align: center;
    color: white;
}

.cardCombat #statsHeader .lives{
    font-size:35px;
    background-color: white;
    width: 25%;    
    text-align: center;
}

#UserStats #statsHeader{
    background-image: linear-gradient(125deg, #ff6d00 0, #ff5600 16.67%, #ff3a00 33.33%, #f81010 50%, #e8001d 66.67%, #d80025 83.33%, #ca002c 100%);
} 

#UserStats #statsHeader .lives{
    border-radius: 0px 23px 0px 0px;
} 

#ComputerStats #statsHeader{
    background-image: linear-gradient(240deg, #9a22ff 0, #671fff 25%, #101bf8 50%, #0017dd 75%, #0015c2 100%);
} 

#ComputerStats #statsHeader .lives{
    border-radius: 23px 0px 0px 0px;
} 

.cardCombat .statsBody{
    border-radius: 0px 0px 25px 25px;    
    width: 100%;    
    border: 3px solid black;
    text-align: center;
}

#ComputerStats .statsBody{
    margin-top: -4px;
}

#message{    
    width: 30%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 2px;
    text-transform: capitalize;
    border-radius: 25px 25px 25px 25px;
    /*border: 3px solid black;*/
    
}

@media (max-width: 415px) {

    #select-animal h1 {        
        text-align: center;
        width: 90%;
    }
 
    #selectionBox {
        height: 100%;
    }

    #contentSelectionBox {
        flex-direction: column;
    }    

    #btnSelectAnimal {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #attackButtons{
        margin-top: 15px;
    }

    #message{
        margin-top: 20px;
        width: 60%;
        letter-spacing: 0px;
    }

    #attackButtons button {
        margin: 0px;
        width: 100px;
    }

    #combatCards {
        width: 100%;
    }

    .cardCombat {
        width: 45%;
        margin: 5px;
    }

    .cardCombat #statsHeader .name {
        font-size: 125%;
    }

}